header {
    background-color: $main_color;
    color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 54;
    box-shadow: 0 0 12px #ddd;

    .header-content {
        height: 120px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        h2 {}

        p {
            &::first-letter {
                color: rgb(255, 114, 6);
                font-weight: bold;
                font-size: 22px;
                // margin-right: 3px;
            }
        }
    }

    .fa-bars {
        display: none;
        cursor: pointer;
        background-color: #eee;
        padding: 5px 10px;
        color: black;

        @media (max-width:767px) {
            display: inline-block;
        }
    }

    nav {
        display: flex;

        @media (max-width:767px) {
            // display: flex;
            flex-direction: column;
            height: 0;
            overflow: hidden;
            position: absolute;
            transition: 0.3s;
            background-color: rgb(147, 147, 146);
            left: 0;
            width: 100%;
            top: 100%;

            &.show {
                height: 209px;
                box-shadow: 4px 5px 10px rgb(83, 78, 78);
            }
        }
    }

    li {
        transition: 0.3s;

        &:hover {
            background-color: black;
        }
    }

    li:not(:last-of-type) {
        margin-right: $main_margin;

        @media (max-width:767px) {
            margin: 0;
        }
    }

    nav li a {
        padding: 14px 5px;
        display: block;
        color: $white;
        width: 100%;
        text-align: left;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

}